<html>
      <head>
            <title>jddc BlogApp</title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
      </head>
      <body>
            <!--<div class="ui fixed inverted menu">-->
            <!--      <div class="ui container">-->
            <!--            <div class="header item"><i class="big code icon"></i><a href="/blogs">jddc BlogApp</a>-->
            <!--            <a href="/" class="item">Home</a>-->
            <!--            <a href="/blogs/new" class="item">New Blog</a>-->
            <!--            </div>-->
            <!--      </div>-->
            <!--</div>-->
            
<div class="ui labeled icon inverted menu">
  <a class="item" href="/blogs">
    <i class="big code icon"></i>
    jddc BlogApp
  </a>
  <a class="item" href="/">
    <i class="paragraph icon"></i>
    All Blogs
  </a>
  <a class="item" href="/blogs/new">
    <i class="write icon"></i>
    New Blog
  </a>
</div>